.experience-section {
	.wrapper {
		border-radius: 10px;
		background: #2f3132;
		width: 100%;
		min-height: calc(100vh - 200px);
		padding: 50px 100px;
		display: flex;
		flex-direction: column;
		// align-items: center;
		// justify-content: center;
		// display: flex;
		// border: thin solid white;

		.inner-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			min-height: 100%;
			flex: 1;

			.tab-slider {
				flex: .3;
				position: relative;
				height: max-content;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 1px;
					background: #aaa;
				}

				.tab-indicator {
					position: absolute;
					top: 0;
					left: 0;
					background: #00e5ff;
					width: 5px;
					border-radius: 5px;
					transition: .1s ease-in;
				}

				.tab {
					position: relative;
					list-style-type: none;
					position: relative;
					height: 50px; // important for javascript
					padding: 0 15px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					cursor: pointer;

					// Hide down arrow
					svg {
						display: none;
					}

					&:hover {
						background: #ffffff10;
					}

					&.active {
						color: #00e5ff;
					}
				}

				// Embedded info
				.info {
					display: none;
				}
			}

			.info {
				flex: .7;
				padding: 10px 20px;
				position: relative;
				// height: 100%;
				// flex-grow: 1;

				&::before {
					content: '';
					position: absolute;
					width: 1px;
					left: 0;
					top: 0;
					height: 100%;
					background: #aaa;
					// box-shadow: 0 0 15px 1px #00000020;
				}

				.card {
					position: relative;
					height: 100%;
					width: 100%;

					.info-title {
						font-weight: 900;
						padding-bottom: 20px;
						font-size: 1.2rem;
						color: #00e5ff;
					}

					.duration {
						padding-bottom: 20px;
						font-size: 0.9rem;
						font-family: 'Fira Code', monospace;
					}

					.desc-list {
						li {
							list-style-type: none;
							color: #ccc;
							font-size: 0.95rem;
							font-weight: 600;
							padding: 5px 0;

							.sub-list {
								padding-left: 20px;

								li {
									font-size: .9rem;
									font-weight: 100;
									font-family: 'Fira Code', monospace;
								}
							}

							&::before {
								content: "▹ ";
								position: relative;
								left: 0px;
								color: #00e5ff;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.experience-section {
		.wrapper {
			padding: 5vw;
			.inner-wrapper {
				display: grid;
				grid-template-columns: 100%;

				.tab-slider {
					background: #21212190;
					margin-bottom: 20px;

					&::before {
						display: none;
					}

					.tab-indicator {
						// top: 0;
						display: none;
						// transform: scaleY(.5);
					}

					.tab {
						width: 100%;

						// Show down arrow
						svg {
							display: block;
							transition: .1s ease-in;
						}

						&.active {
							border: thin solid #00e5ff;
							// Rotate up arrow when activated
							svg {
								transform: rotate(180deg);
							}
						}
					}

					.tab + .info {
						display: block;
						max-height: 0;
						overflow: hidden;
						padding: 0;
						// border: thin solid #aaa;
						transition: 0s ease-out;

						// Grey line
						&::before {
							display: none;
						}
					}

					.tab.active + .info {
						// display: block;
						padding: 10px 20px;
						max-height: 1000px;
						transition: max-height .5s ease-in;
					}

					&::before {
						display: none;
					}
				}

				// Main info section
				& > .info {
					display: none;
				}
			}
		}
	}
}
