nav {
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
	color: #fff;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5vw;
	background: #2f3132;
	box-shadow: 0 0 10px 3px #00000020;
}

.logo svg {
	/* border: 2px solid transparent;
	border-radius: 50%; */
	height: 50px;
	width: 50px;
	transition: .2s ease-in;
}

.logo svg:hover {
	border: 2px solid #00e5ff;
	border-radius: 50%;
}

#hex {
	opacity: 1;
	transition: .2s ease-in;
}

.logo svg:hover #hex {
	opacity: 0;
	transition: .2s ease-in;
}

nav a {
	text-decoration: none;
	font-weight: 600;
}

.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-links a {
	margin: 0 20px;
}

.resume-btn {
	color: #00e5ff;
	border: 2px solid #00e5ff;
	padding: 10px;

	transition: .1s ease-in;
}

.resume-btn:hover {
	background: #00e5ff20;
}

.nav-link {
	position: relative;
}

.nav-link::after {
	content: '';
	height: 2px;
	background: #fff;
	position: absolute;
	bottom: -5px;
	width: 0%;
	left: 0;
	transition: width .2s ease-in;
}

.nav-link:hover::after {
	width: 100%;
}
