.projects-section {
	min-height: 100vh;
	.wrapper {
		background: #2f3132;
		padding: 3em;
		border-radius: 10px;
		width: 100%;

		.projects-list {
			display: grid;
			justify-items: center;
			gap: 2em;
			grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

			.project {
				cursor: pointer;
				box-shadow: 0 0 15px 3px #00000030;
				// Center projects
				// justify-self: center;

				// flex alignment
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				width: 280px;
				height: 300px;
				padding: 1em;
				background: #212121;
				border-radius: 10px;

				transition: .1s ease-in;

				&:hover {
					transform: translateY(-3px);

					& .github svg {
						display: block !important;
					}
				}

				// Icon and github
				.row {
					display: flex;
					align-items: center;
					justify-content: space-between;

					svg:nth-child(1) {
						height: 2em;
						width: 2em;
						stroke: #00e5ff;
					}

					.github svg {
						display: none;
						fill: #fff;
						height: 1.5em;
						width: 1.5em;
						transition: .1s ease-in;

						&:hover {
							fill: #00e5ff;
						}
					}
				}

				.project-title {
					font-weight: 600;
					font-size: 1.2em;
					margin: 20px 0;
				}

				.project-desc {
					font-size: 0.9em;
				}

				.languages {
					display: flex;
					gap: 10px;
					align-items: center;
					justify-content: space-between;
					width: fit-content;
					flex-wrap: wrap;

					.language {
						height: 30px;
						width: fit-content;
						padding: 3px 8px;
						display: flex;
						align-items: center;
						border: 1px solid #aaa;
						font-size: 70%;
						word-wrap: normal;
						background: #2f3132;
					}
				}
			}
		}
	}
}
