@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

:root {
	--section-padding-top: 100px;
	--section-height: 100vh;
}

#root {
	/* height: 200vh; */
	width: 100%;
	// overflow-x: hidden;
	/* background: #2f3132; */
	background: #212121;
	counter-reset: section;
}

::-webkit-scrollbar {
	width: 8px;
	background: #212121;
	// background: #eee;
}

::-webkit-scrollbar-thumb {
	// background: #212121;
	background: #fff;
	border-radius: 30px;
}

section {
	position: relative;
	padding: 100px 10vw;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	// background: #2f3132;
	background: #212121;
	// justify-content: center;
	// border: thin solid white;
}

.title {
	font-weight: 600;
	padding: 20px 0;
	font-size: 1.5em;

	position: relative;
}

.title::before {
	counter-increment: section;
	content: '0' counter(section) '. ';
	color: #00e5ff;
}

.title::after {
	content: '';
	background: #fff;
	display: block;
	height: 1px;
	position: relative;
	margin: 10px 0;
	max-width: 30ch;
}

/* .sm-icon {
	font-size: 1.5em;
	transform: translateY(2px);
} */

/* Main Intro */
/* section {
	height: var(--section-height);
	padding-top: var(--section-padding-top);
} */

/* .main-intro {
	padding-top: 0;
	background: url('img/matte-black.jpg');
}

.main-intro img {
	height: 100%;
	width: 100%;
	position: relative;
	object-fit: cover;
}

.main-intro::before {
	z-index: 1;
	content: '';
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to top, #111, transparent);
} */
